body {
    background-image: url(../imgs/background_03.png);
    background-repeat: repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
    color: rgb(214, 212, 190);
}

header {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

main section p {
    font-size: 30px;
    width: 70vw;
    margin-left: 10vw;
    padding: 5px;
    border-radius: 20px;
    background-color: #0458125d;
}

#main-content-list {
    width: 80vw;
    /*height: 80vh;*/
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

ul {
    padding: 5vh 10vh;
    background-color: #0458125d;
    border-radius: 20px;
    font-size: larger;
    text-align: center;
}

a {
    color: rgb(214, 212, 190);
    transition: color 0.3s ease;
    cursor: pointer;
}

a:hover {
    color: rgba(204, 17, 17, 0.7);
}

#projects p a {
    font-size: 32px;
}

#download-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    padding-top: 30vh;
}

.button-download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 10vh;
    background-color: #001e19ab;
    border-radius: 20px;
}

.button-download:hover {
    transform: translateY(15px);
     transition: 0.8s ease;
}

#download-conteiner a {
    text-decoration: none;
    font-size: 45px;
}