body {
    margin: 0;
    padding: 0 10%;
    background-color: #61a753;
}

main {
    backdrop-filter: blur(80%);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}